doctype html
html
  head
    title Perfil de #{user.nombre}
    link(rel='stylesheet', href='/css/style.css')

    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
      }

      .profile-container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      .profile-header {
        text-align: center;
        margin-bottom: 30px;
        background-color: #17a2b8; 
        padding: 20px;
        border-radius: 10px;
      }

      .profile-header h1 {
        color: #fff; 
        font-size: 28px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .profile-header p {
        color: #fff;
        font-size: 16px;
        margin: 0;
      }

      .profile-details {
        margin-top: 30px;
      }

      .profile-details p {
        color: #444;
        font-size: 18px;
        margin-bottom: 15px;
      }

  body
    .profile-container 
      .profile-header 
        h1 Perfil de #{user.nombre}
        p ID del usuario: #{user.id}

      .profile-details 
        p Nombre: #{user.nombre}
        p Correo electrónico: #{user.correo}
        p Fecha de registro: #{user.fechaRegistro}
